<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button text="" mode="ios" defaultHref="/tabs/home" class="back-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>List of abilities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="this.data!==null" class="list">
    <ion-item *ngFor="let ab of this.data.results" class="item" routerLink="/tabs/ability/detail/{{ab.name}}">
      {{ab.name}}
    </ion-item>

    <!--TODO DISPLAY CONTENT IN MID-->
  </ion-list>
  <button>fsf</button><br>
  <button>vsdvcsd</button>
  <br><button>vsfs</button><br>
  <button>fsfa</button>
</ion-content>
