<ion-content [fullscreen]="true">
  <div class="title d-inline-flex justify-content-center">
    <a href="http://pokemon.com/es"><img src="./../../assets/pokemon.jpeg" alt="The Poekemon Logo"></a>
  </div>
  <div class="mid">

    <div class="row">
      <p class="logo col d-inline-flex justify-content-center" (click)="logInfo()">Go catch'em all</p>
    </div>
    <div class="btn-categories row">
      <button class="col" routerLink="/tabs/ability" (click)="logInfo()">ability</button>
      <button class="col" routerLink="/tabs/characteristic">characteristic</button>
      <button class="col" routerLink="/tabs/egg-group">egg-group</button>
    </div>
    <div class="btn-categories row">
      <button class="col">generation</button>
      <button class="col">item-category</button>
      <button class="col">item-pocket</button>
    </div>
    <div class="btn-categories row">
      <button class="col">location</button>
      <button class="col">machine</button>
      <button class="col">move</button>
    </div>
    <div class="btn-categories row">
      <button class="col">nature</button>
      <button class="col">pokedex</button>
      <button class="col">pokemon</button>
    </div>
    <div class="btn-categories row">
      <button class="col">region</button>
      <button class="col">stat</button>
      <button class="col">type</button>
    </div>
  </div>
  <footer class="foot">
    <a href="https://www.facebook.com/Pokemon/?locale=es_ES"><i class="icon fa-brands fa-facebook"></i></a>
    <a href="https://twitter.com/Pokemon"><i class="icon fa-brands fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/pokemon/?originalSubdomain=es"><i class="icon fa-brands fa-linkedin"></i></a>
    <a href="https://www.instagram.com/pokemon/"><i class="icon fa-brands fa-instagram"></i></a>
    <a href="https://www.wikidex.net/wiki/WikiDex"><i class="icon fa-solid fa-book-atlas"></i></a>
  </footer>

  <!-- <p>{{this.categoriesList['__zone_symbol__value']['ability']}}</p>
<p>{{this.categoriesList['__zone_symbol__value']['characteristic']}}</p>
<p>{{this.categoriesList['__zone_symbol__value']['egg-group']}}</p>
<p>{{this.categoriesList['__zone_symbol__value']['item-category']}}</p>
<p>{{this.categoriesList['__zone_symbol__value']['item-pocket']}}</p>
<p>{{this.categoriesList['__zone_symbol__value']['location']}}</p>
<p>{{this.categoriesList['__zone_symbol__value']['machine']}}</p>
<p>{{this.categoriesList['__zone_symbol__value']['move']}}</p>
<p>{{this.categoriesList['__zone_symbol__value']['nature']}}</p>
<p>{{this.categoriesList['__zone_symbol__value']['pokedex']}}</p>
<p>{{this.categoriesList['__zone_symbol__value']['pokemon']}}</p>
<p>{{this.categoriesList['__zone_symbol__value']['region']}}</p>
<p>{{this.categoriesList['__zone_symbol__value']['stat']}}</p>
<p>{{this.categoriesList['__zone_symbol__value']['type']}}</p> -->

</ion-content>
